.switch
	display flex
	align-items center
	user-select none
	&__group
		display flex
		align-items center
	&__item
		position relative
		&:hover
			.switch__item-label
				color siteColor
		&-input
			position absolute
			z-index 2
			top 0
			left 0
			width 100%
			height 100%
			margin 0
			opacity 0
			cursor pointer
			&:checked + .switch__item-label
				background-color siteColor
				color #fff
		&-label
			display block
			padding 5px 10px 4px
			font-size 12px
			font-weight 500
			line-height 1.4
			color brandColor
			border-radius 14px