+e.header
	if firstTitle
		+e("h2").title!= firstTitle
	+b.switch
		+e.group
			+e("label").item
				+e("input").item-input(type="radio" name = "calculatorCurrencySwitch" value="USD" checked)
				+e("span").item-label USD
			+e("label").item
				+e("input").item-input(type="radio" name = "calculatorCurrencySwitch" value="UAH")
				+e("span").item-label UAH
+e.body
	if data
		each item in data
			+e.group
				+b.item
					+e.row
						+e.col._min
							+e.label!= item.label
						- classes = []
						if item.periodSwitcher || item.periodPercent
							- classes.push("nowidth")
						+e.col._max(class=classes)
							if item.sliderCurrency
								input.slider-currency(type='text', value='', name='range')
							if item.sliderPeriod
								input.slider-period(type='text', value='', name='range')
							if item.periodSwitcher
								+b.switch
									+e.group
										+e("label").item
											+e("input").item-input(type="radio" name = "calculatorPeriodSwitch" value="ежемесячно" checked)
											+e("span").item-label ежемесячно
										+e("label").item
											+e("input").item-input(type="radio" name = "calculatorPeriodSwitch" value="в конце срока")
											+e("span").item-label в конце срока
							if item.periodPercent
								+e("span").percent 18%
								+e.sublabel!= item.subLabel
+e.footer
	+e.group
		+b.summ
			+e.title
				if secondTitle
					+e("h2").title!= secondTitle
			+e.row
				+e.col
					+e#summ1("span").percent.item__percent $120500
					+e.sublabel.item__sublabel за весь срок вложения
				+e.col
					+e#summ2("span").percent.item__percent $403.02
					+e.sublabel.item__sublabel ежемесячно
	+e("button").button.btn(type="button") Инвестировать