.calculator
	background-color #fff
	border-radius 4px
	box-shadow 0 4px 30px rgba(#2d2d2d,.18)
	padding: 30px 40px 35px;
	width 40%
	&__header
		display flex
		align-items flex-start
		margin-bottom 20px
	&__title
		flex-grow 1
		font-weight bold
		color brandColor
		font-size 24px
		line-height 1
		text-transform none
	.switch
		display flex
		align-items center
		user-select none
		&__group
			display flex
			align-items center
		&__item
			position relative
			&:hover
				.switch__item-label
					color siteColor
			&-input
				position absolute
				z-index 2
				top 0
				left 0
				width 100%
				height 100%
				margin 0
				opacity 0
				cursor pointer
				&:checked + .switch__item-label
					background-color siteColor
					color #fff
			&-label
				display block
				padding 5px 10px 4px
				font-size 12px
				font-weight 500
				line-height 1.4
				color brandColor
				border-radius 14px
		&__label
			width 45%
	&__body
		padding 40px 0 10px
		border-bottom 1px solid #f1f1f1
		.calculator__group
			margin-bottom 40px
			&:last-child
				margin-bottom 10px
				
	.item
		&__row
			display flex
			justify-content space-between
		&__col_max
			width 70%
			&.nowidth
				width 50%
		&__label
			color brandColor
		&__percent
			color brandColor
			font-size 16px
			font-weight bold
			line-height 1.2
		&__sublabel
			color #bbb9d1
			font-size 12px
		 	line-height 1.2
	&__footer
		padding-top 20px
		.summ
			&__title
				flex-grow 1
				font-weight bold
				color brandColor
				font-size 24px
				line-height 1
				text-transform none
			&__row
				display flex
			&__col
				width 45%
				padding 0 5px
		.calculator__group
			margin-bottom 30px
	&__button
		display block
		width 100%