.btn
	display inline-block
	font-size 16px
	font-weight 500
	line-height 1.3
	padding 15px 30px
	border 0 none
	border-radius 25px
	color bandColor
	background #fd6
	text-align center
	white-space nowrap
	vertical-align middle
	user-select none
	cursor pointer
	outline none
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	transition 0.15s background ease-in-out, 0.15s color ease-in-out, 0.15s box-shadow ease-in-out
	&:hover
		background #ca9c20
	&:focus
		text-decoration none
	&:focus
		outline 0
	&:disabled
		opacity 0.65
	&:not(:disabled)
		cursor pointer
	&:not(:disabled):active
		background-image none
